@charset "UTF-8";
body {
  background: #f3f4f6;
  cursor: url(https://shopify.github.io/draggable/assets/img/cursor-auto.png), auto;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  background: #fff;
  font-size: 1.15rem;
  padding: 0.5rem 1rem;
}

.box + .box {
  margin-top: 1rem;
}

.normal {
  color: #075985;
}

.important {
  color: #eab308;
}

.urgent {
  color: #c2410c;
}

.box--isDraggable {
  cursor: url(https://shopify.github.io/draggable/assets/img/cursor-drag.png), auto;
}

li + li {
  margin-top: -0.25rem;
}

.draggable-mirror {
  background: currentColor;
  color: #fff;
  cursor: url(https://shopify.github.io/draggable/assets/img/cursor-drag.png), auto;
  /* FIXME: bug */
  transform: scale(1.05, 1.05);
  z-index: 10;
}

.draggable-source {
  color: currentColor;
  opacity: 0.3;
}

form input {
  border: 2px solid #e5e7eb;
  border-radius: 0.5rem;
  background: transparent;
  color: #9ca3af;
  outline: 0;
  padding: 0 1rem;
  margin-right: 1rem;
}

.task-done {
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border: 2px solid #bbbdc7;
  border-radius: 50%;
  background-color: #fff;
  appearance: none;
}

.checked.task-done {
  border-color: #22c55e;
}

.task-done.checked {
  position: relative;
}

.task-done.checked:before {
  position: absolute;
  font-family: "FontAwesome";
  top: -6px;
  left: -2px;
  content: "";
  color: #22c55e;
  font-size: 1rem;
}

.task-done.checked + .task-text {
  text-decoration: line-through;
}